In [1]:
import numpy as np

import pandas as pd

In [11]:
df = pd.DataFrame({'Radius' : pd.Series([1,3,6,2,5],index = ['a', 'b', 'c', 'd','e']),
                    'Cost':pd.Series([5,6,8,3,4], index = ['a', 'b', 'c', 'd','e'])})

In [12]:
df

   Cost  Radius
a     5       1
b     6       3
c     8       6
d     3       2
e     4       5

In [29]:
df1 = df.sort_values('Radius', ascending = False)
df1

   Cost  Radius
c     8       6
e     4       5
b     6       3
d     3       2
a     5       1

In [37]:
import itertools
a = np.sort(df.Radius)
perm = list(itertools.permutations(a, 2))
print(perm)
for i in range(len(a)):
    print(df1.Radius[i])

[(1, 2), (1, 3), (1, 5), (1, 6), (2, 1), (2, 3), (2, 5), (2, 6), (3, 1), (3, 2), (3, 5), (3, 6), (5, 1), (5, 2), (5, 3), (5, 6), (6, 1), (6, 2), (6, 3), (6, 5)]
6
5
3
2
1

In [38]:
def circles(distance, radius, cost):
    result = [None] * len(radius)

    for i in range(0, len(radius)):
        tmp = [];

        for j in range(0, len(radius)):

            if radius[j] >= distance - radius[i]:
                tmp.append(j);

                result[i] = getSmallest(radius, cost, tmp, i);

    return result


def getSmallest(radius, cost, tmp, i):
    if len(tmp) == 0:
        return 0

    result = tmp[0]
    mincost = cost[i] + cost[tmp[0]]

    for j in range(0, len(tmp)):
        if cost[i] + cost[tmp[j]] < mincost:
            mincost = cost[i] + cost[tmp[j]]
            result = tmp[j]
    return result + 1



distance = 8;
radius = [1,3,6,2,5]
cost = [5,6,8,3,4]

ans = circles(distance, radius, cost)

for i in range(0, len(ans)):
    print(ans[i])

None
5
4
3
5